#fc-backoffice-link {
  float: right;
}
#fc-search {
  width: 400px;
}
#fc-videos-container {
  text-align: center;
}
#fc-videos {
  list-style: none;
  margin: 0;
  overflow: auto;
  padding: 0;
  text-align: left;
}
#fc-videos.busy {
  filter: Alpha(Opacity=50);
  opacity: 0.5;
}
#fc-videos li {
  background: #f2f2f2;
  border: 1px solid #ccc;
  cursor: pointer;
  float: left;
  height: 90px;
  margin: 5px;
  overflow: visible;
  padding: 5px;
  width: 120px;
}
#fc-videos li:hover {
  background: #d5d5d5;
}
#fc-videos li.error {
  color: red;
}
#fc-videos h4 {
  font-size: 10px;
  line-height: 12px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#fc-videos img {
  display: inline-block;
  height: 68px;
  width: 120px;
}
#fc-videos-pagination {
  display: inline-block;
  list-style: none;
  margin: 0;
  overflow: auto;
  padding: 0;
}
.fc-page {
  background: #f2f2f2;
  border: 1px solid #ccc;
  float: left;
  margin: 1px;
}
.fc-page.current {
  border: 1px solid transparent;
  font-weight: bold;
}
.fc-page a {
  display: block;
  padding: 5px 10px;
}
.fc-page a:hover {
  background: #d5d5d5;
}
.fc-page .ajax-progress {
  display: none;
}
.fc-page .progress-disabled {
  color: #808080;
  cursor: wait;
}

.video-embed-field-responsive-video {
  width: 50%;
  height: 150px;
  background-image: url(../freecaster.png);
  background-position: center, center;
  background-repeat: no-repeat;
  background-color: gray;
}

.cke_widget_drupalentity article.align-right,
article.align-right,
.cke_widget_drupalentity article.align-left,
article.align-left {
  float: none;
}

.cke_widget_drupalentity article.align-right .field > div,
article.align-right .field > div {
  float: right;
}

.cke_widget_drupalentity article.align-left .field > div,
article.align-left .field > div {
  float: left;
}

.cke_widget_drupalentity article.align-center .field > div,
article.align-center .field > div {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

