body.drag_ok:after {
  box-shadow: inset 0 0 0 6px green;
  content: " ";
  height: 100%;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100000;
}
body.drag_ok.drag_unknown:after {
  box-shadow: inset 0 0 0 6px red;
}

form.media-freecaster-video-edit-form {
  float: left;
  margin: 1em;
}
.videos-main-container {
  /*float: left;*/
  height: auto;
  margin: 1em;
  position: fixed;
  right: 6em;
  top: 15em;
}

.new-video-block {
  position: relative;
  min-height: 60px;
  border: 1px solid #e2e2e2;
  background-color: #f5f5f5;
  width: 100%;
  margin: 1em;
  padding: 1em;
}
.new-video-block:hover {
  cursor: hand;
  -moz-box-shadow: 0px 0px 10px 0px #e2e2e2;
  -webkit-box-shadow: 0px 0px 10px 0px #e2e2e2;
  -o-box-shadow: 0px 0px 10px 0px #e2e2e2;
  box-shadow: 0px 0px 10px 0px #e2e2e2;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#e2e2e2, Direction=NaN, Strength=10);
}

.bar {
  background: #fff url(../img/bg-bar-white.png) repeat-x 0 0;
  border: solid #f0f0f0;
  border-width: 1px;
  height: 12px;
}

.progress {
  font-weight: bold;
  height: auto;
}
.progress .bar {
  background: #ccc;
  border-color: #666;
  margin: 0 0.2em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.progress .filled {
  background: #0072b9 url(../img/progress.gif);
  height: 12px;
}
